@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.stack {
	display: flex;
	flex-direction: column;
}

.hStack {
	display: flex;
	flex-direction: row;
}
